.box{
    width: 100px;
    height: 100px;
    animation: moveColor 4000ms infinite;
}

@keyframes moveColor{
    0%{
        transform: translateX(0%) translateY(0%);
        background-color: red;
    }
    25%{
        transform: translateX(0%) translateY(200%);
        background-color: blue;
    }
    50%{
        transform: translateX(200%) translateY(200%);
        background-color: green;
    }
    75%{
        transform: translateX(200%) translateY(0%);
        background-color: yellow;
    }
    100%{
        transform: translateX(0%) translateY(0%);
        background-color: red;
    }
}